<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <uses-permission android:name="android.permission.INTERNET"/>
    <dist:module
        dist:instant='false'
        dist:title="@string/dynamic_feature_title">
        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".presentation.DynamicActivity"
            android:exported="true"
            android:label="@string/title_activity_dynamic"
            android:theme="@style/Theme.Githuber">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter android:label="@string/title_activity_dynamic">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/host"
                    android:path="@string/path_in_app"
                    android:scheme="@string/scheme_in_app" />
            </intent-filter>
        </activity>
    </application>

</manifest>